

.j-main-container{
  /*height: 100%;*/
  min-height: 80%;
  border: 1px solid #eee;
  width:90%;
  margin: 0 5%;
  background-color: white;
}


.j-main-side{
  min-height:100%;
  height:auto;
  background-color: bisque;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
}


.j-row{
  width: 100%;
  margin: 5px 0px!important;
  text-align: left;
}

.title{
  margin-left : 30px
}

a{
  color: #4183c4;
  text-decoration: none;
}
